@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,400);
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Open Sans", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  background: linear-gradient(90deg, #7464bf 10%, #348ac7 90%);
}

.pageLink {
  display: block;
  height: 40px;
  width: 100%;
  text-decoration: none;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  color: #4D4D4D;
  background: #ddd;
  margin-top: 40px;
  margin-bottom: 100px;
}

 @media (max-width: 380px) {
   .pageLink {
     width: 225px;
     margin: 40px auto 100px auto;
   }
 }
